/* base format */
body
{
	border-top:solid 5px #1e90ff;
	text-align:center;
	font-family:'Century Gothic' , sans-serif;
}
#wrap
{
	width:800px;
	margin:0 auto;
	text-align:left;
}
p
{
	line-height:120%;
	font-size:10pt;
}
a
{
	color:#1e90ff;
}
table{
	width: 100%;
}
table,td,th {
    border-collapse: collapse;
    border:1px solid #666;
}
td,th{
	padding: 5px;
}
td{
	font-size: 12px;
}
th{
	font-size: 14px;
	background-color: #BEE9EA;
}
/* header */
header h1
{
	margin:3px 0;
}
header h1 a
{
	text-decoration:none;
}

.admin_cont{
	width: 580px;
}
/* menu */
.admin_menu{
	width: 200px;
	margin-right: 20px;
}
.admin_menu li{
	line-height: 1.5em;
}

/* main */
#main
{
	width:800px;
	margin:10px 0 0 0;
}
#main h2
{
	margin-bottom:10px;
	border-bottom:solid 1px #1e90ff;
}
#main h2:first-letter 
{
	color:#1e90ff;
}
#main h3
{
	margin-bottom:10px;
	border-bottom:solid 1px #1e90ff;
}
#main h3:first-letter 
{
	color:#1e90ff;
}
#main h4
{
	font-size:10pt;
}
#main .dropcap p:first-letter {
	font-size: 16pt;
	font-weight:bold;
}
#main .moreread
{
	color: #1e90ff;
	text-decoration: none;
}
#main div .sslist dd
{
	margin-left:10px;
	color:darkgray;
}
#main .thumb img
{
	margin-right: 5px;
	margin-bottom: 5px;
}

/* pagetop */
#page-top
{
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#page-top a {
	background: #1e90ff;
	text-decoration: none;
	color: #fff;
	width: 100px;
	padding: 10px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
}

/* footer */
footer
{
	margin:10px 0 0 0;
	border-top:solid 1px #1e90ff;
}

/* float */
.floatBox{
	zoom: 100%;
}
.floatBox:after{
	height: 0;
	clear: both;
	visibility: hidden;
	display: block;
	content: ".";
	font-size: 0.1em;
}
.floatL
{
	float: left;
}
.floatR{
	float: right;
}
/* text align */
.txtR
{
	text-align:right;
}
/* width */
.w200
{
	width:200px;
}
.w580
{
	width:580px;
}
/* margin */
.mt10
{
	margin-top:10px;
}
.mt20
{
	margin-top:20px;
}
.mr10
{
	margin-right:10px;
}
.mr20
{
	margin-right:20px;
}